<!DOCTYPE html>
<html>
  <head>
    <title>Alice's Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>
  <div class="container container-padding  ">
    <header >
    <h1>ALICE PALMER BROWN</h1>
    </header>
  <div>
    <h2>FULLSTACK WEB DEVELOPER</h2>
    <h3>Bristol/London/Remote</h3>
      <a class="btn-yellow" href="#">about</a>
      <a class="btn-pink" href="#">contact</a>
      <a class="btn-black" href="#">CV</a>
    <ul class="links">
      <li><a href="https://github.com/itsapb" target="_blank"><i class="fa-brands fa-square-github" style="color: #000000;"></i></a></li>
      <li><a href="https://www.linkedin.com/in/alice-palmer-brown-5b1b683b/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #000000;"></i></a></li>
      <li><a href="https://www.instagram.com/apb.sews/" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
    </ul>
  </div>
  <body>
    <%= yield %>
  </body>
  </div>
</html>
